.event-tracks-box {
}

.event-tracks-box > span {
   width: fit-content;
}

.track {
   margin-bottom: 30px;

   display: flex;
   flex-direction: column;
}

.track-title {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   align-items: center;

   gap: 2px 8px;

   margin-bottom: 10px;
}

.track-title > p {
   margin: 0;
}

.track > span {
   flex: 1.33;
}

.listen hr {
   margin-bottom: 20px;
}

.event-tracks-box .description {
   margin: 0;
   margin-bottom: 20px;
}