.secret .admin-box {
   max-width: 600px;
   margin: auto;
   margin-top: 100px;
}

.secret .form-element {
   margin-bottom: 30px;
}

.secret button {
   margin-right: 10px
}

.secret .track-entry {
   padding: 10px;
   border: 3px solid var(--color-accent);
   width: fit-content;
   border-radius: 4px;
   margin-bottom: 20px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.secret .track-entry .form-element {
   margin-bottom: 0;
   margin-top: 10px;
}

.secret h2 {
   margin-bottom: 20px;
}

.secret .new-track {
   margin-bottom: 30px;
}

.secret .new-event {
   margin-top: 50px;
}

.secret .new-event > button {
   margin-bottom: 30px;
}